/target/
.novops
build/
/release/
.github/token
.venv
tmp/

# Tests output
tests/output/
tests/localconfig
.envrc
tmp*
tests/setup/k8s/*
!tests/setup/k8s/.gitkeep


# vscode 
.vscode/settings.json

# Nix
result

# mkbook
docs/book
.aider*
