name: Release

# Same jobs are used for testing or releasing
on:
  push:
    branches:
      - main

jobs:
  
  release:
    name: release PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      
      - uses: cachix/cachix-action@v12
        with:
          name: novops
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      
      - run: nix develop -c make release-tag
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

      - run: nix develop -c make release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}